.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Very subtle noise texture background */
  background: linear-gradient(135deg, #090c10 0%, #11161d 100%);
}
